## TestData.csv를 이용해서 K Nearest Neighbors 알고리즘을 사용해서 Height, Weight, Age, Class 등을 입력시 예측하시오

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import neighbors

### Height, Weight, Age 입력시 Class 예측

In [71]:
data = pd.read_csv("TestData.csv")

k = 3
x = data.iloc[:,:3]
y = data.iloc[:,3]
nn = neighbors.KNeighborsClassifier(k,weights="distance") # 거리가 가까운 k개를 그룹화(?)
nn.fit(x,y)
nn.predict([[1.70,65,30]])

array(['Programmer'], dtype=object)

### Height, Weight, Class 입력시 Age 예측

###### 조건 :  Progammer 일때 1, Builder일때 2, 나머지 3
##### data['Classnum'] = np.where(data['Class'] == "Programmer", 1, np.where(data['Class'] == "Builder", 2, 3))

In [94]:
data = pd.read_csv("TestData.csv")
data['Classnum'] = np.where(data['Class'] == "Programmer", 1, np.where(data['Class'] == "Builder", 2, 3))

k = 3
x = data.iloc[:,[0,1,4]]
y = data.iloc[:,2]
nn = neighbors.KNeighborsClassifier(k,weights="distance") # 거리가 가까운 k개를 그룹화(?)
nn.fit(x,y)
nn.predict([[1.80,74,1]])

array([24], dtype=int64)

In [59]:
x

   Height  Weight       Class
0    1.70      65  Programmer
1    1.90      85     Builder
2    1.78      76     Builder
3    1.73      74  Programmer
4    1.81      75     Builder
5    1.73      70   Scientist
6    1.80      71   Scientist
7    1.75      69  Programmer

In [74]:
data

   Height  Weight  Age       Class  Classnum
0    1.70      65   20  Programmer         1
1    1.90      85   33     Builder         2
2    1.78      76   31     Builder         2
3    1.73      74   24  Programmer         1
4    1.81      75   35     Builder         2
5    1.73      70   75   Scientist         3
6    1.80      71   63   Scientist         3
7    1.75      69   25  Programmer         1