In [1]:
print("hello World, Python")

hello World, Python

In [9]:
print(3 + 2)
print (2 ** 10)

5
1024

In [11]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요  : ")
print("%s, %s" %(name, age))

이름을 입력해주세요 : 이상현
나이를 입력해주세요  : 26
이상현, 26

In [72]:



import random
print(random.randint(1,6))

3

In [74]:
for i in range(2, 10):
    for j in range(1,10):
        print("%d X %d = %d" %(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [75]:
name = "john"
for s in name:
    print(s)

j
o
h
n

In [89]:
names = ("이순신", "강감찬", "권율")
print(names[0])
#del names[0] -> 튜플은 못지움
print(names[0])

이순신
이순신

In [ ]:
names = ["이순신", "강감찬", "권율"]
print(names[0])
del names[0]
print(names[0])

In [1]:
menu = {"카페라떼":2500, "아이스라떼":3000, "핫초코":2000}
print(menu)
print(menu['카페라떼'])

{'카페라떼': 2500, '아이스라떼': 3000, '핫초코': 2000}
2500

In [2]:
choice = input("원하는 메뉴를 입력해주세요. : ")
print(menu[choice])

원하는 메뉴를 입력해주세요. : 카페라떼
2500